@charset "utf-8";
/* CSS Document */

/*...............................Body Color....................................*/

body {
  background-color: #195190FF;
  padding-top: 15%;
  padding-left: 4%;
  padding-right: 4%;
}

/*.................................Top Navbar...................................*/

.uppernav {
  position: fixed;
  background-color: #603F83FF;
  overflow: hidden;
  border-radius: 40px;
  top: 0%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.uppernav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
  font-size: 30px;
   border-radius: 40px;
}

.uppernav a:hover {
  background-color: #E3CD81FF;
  color: black;
}

.header a.active {
  background-color: orange;
  color: white;
}

.uppernav a.active {
  border-radius: 150px;
  background-color: #FC766AFF;
  color: white;
}

.uppernav-middle a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uppernav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .uppernav a, .uppernav-right {
    float: none;
    display: block;
  }

  .uppernav-middle a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/*.....................................Video Banner.............................*/

#myVideo {
  position:sticky;
}

/*..............................New Release card css................................*/

.new {
  float: left;
  width: 50%;
}

.rack:after {
  display: table;
  clear: both;
}

.rack {
  display: flex;
}

.new {
  flex: 50%;
}

.new {
  float: left;
}

@media screen and (max-width: 1000px) {
  .new {
    width: 100%;
  }
}

/*........................... side-by-side cards ..................................*/

* {
  box-sizing: border-box;
}

.row {
  font-family: verdana;
}

.column {
  float: left;
  padding: 0 10px;
  margin-bottom: 70px !important;
}

.row {margin: 0 -5px;}

.row:after {
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #eecfcf;
  display:inline-block;
  color: black;
  font-size: 30px;
}

@media screen and (max-width: 200px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}

/*........ The login/singup page CSS code was taken from an instagram user by the name of @Webdevlessons (https://www.instagram.com/webdevlessons/) .....................................*/



/*................................................cart css.....................................*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*...................................Product Card...........................................*/

.product {
  max-width: 380px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: wheat;
  color: black;
  display: inline-block;
  margin-bottom: 70px !important;
}

.price {
  color: black;
  font-size: 45px;
}

.product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 35px;
}

/*......................................... Divider .....................................*/

hr.rounded {
  border-top: 8px solid black;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

/*.....................................contact us form..........................................*/

input[type=text], select, textarea {
  width: 100%;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: orange;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 280px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 80px;
  color: black;
}

/*.................................collapsible...................................*/

.collapsible {
  background-color: #E3CD81FF;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 40px;
}

.active, .collapsible:hover {
  background-color: #E3CD81FF;
  
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-radius: 40px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #B1B3B3FF;

}

.collapsible:after {
  content: '\2630';
  font-size: 35px;
  color: black;
  float: right;
  margin-left: 5px;
}


/*..................................... BOTTOM NAVBAR .........................................*/

.header {
  background-color: #603F83FF;
  overflow: hidden;
  position: fixed;
  bottom: 5%;
  width: 73.5%;
  border-radius: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 35px;
  border-radius: 40px;
}

.header a:hover {
  background-color: #E3CD81FF;
  color: black;
}

.header a.active {
  background-color: #FC766AFF;
  color: white;
}

.header .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header a:not(:first-child) {display: none;}
  .header a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .header.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*............................Footer....................*/

footer {
  position: float;
  text-align: center;
  padding: 200px;
  background-color: DarkSalmon;
  color: white;
  text-decoration: none;
}